@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <li>@Html.ActionLink("Registrarse", "Register", "Home")</li>
        <li>@Html.ActionLink("Inicio de Sesion", "Login", "Home")</li>
    </ul>
</div>
